---
layout: base
theme: cinnabar
headerClass: row-1
mainClass: row-1
sparkle: true
---

<!-- DEBUG: {{ permalink }} -->

<header class="section overflow-hidden full" data-color="cinnabar">
  <div class="section__inner">
    <div class="flow region wrapper prose" style="--region-space-top: var(--space-header-distance)">
      <h1 class="fade-in-bottom">{{ title }}</h1>
      <p>{{ lead }}</p>
    </div>
  </div>

  {% svg 'divider/pixels', null, 'seperator' %}
</header>

<article class="full region">
  <div class="wrapper flow prose">{{ content | safe }}</div>
  <div class="wrapper region">
    <div class="feature sidebar items-center flow ">
      <header class="flow mr-xs">
        <h2>{{ breakout.title }}</h2>
        <p>{{ breakout.intro }}</p>
      </header>
      {% image image %}
    </div>
  </div>
  <div class="full wrapper flow prose">
    <p class="prose">{{ finalWords | markdownFormat | safe }}</p>
  </div>

  <div class="full wrapper flow prose region">
    <header class="cluster">
      <h2>{{ faq.title }}</h2>
      <p class="text-step-0">{{ faq.abbr }}</p>
    </header>
    {{ faq.intro | markdownFormat | safe }}
    {% set itemList = faq.items %}
    {% include 'partials/details.njk' %}
  </div>
</article>
