---
layout: base
theme: mandy
headerClass: row-1
mainClass: row-1
---

<header class="section overflow-hidden full" data-color="mandy">
  <div class="section__inner">
    <div class="wrapper flow">
      <div class="mascot" data-direction="rtl">
        <div class="flow region place-self-end" style="--region-space-top: var(--space-header-distance)">
          <h1 class="fade-in-bottom">{{ title }}</h1>
          <p class="flow-space-s">{{ lead }}</p>
        </div>
        {% svg "mascot/projects" %}
      </div>
    </div>
  </div>
  {% svg 'divider/used-tilt', null, 'seperator' %}
</header>

{% for project in projects %}
  {% set i18n = project.translations[page.lang] %}
  <article class="sidebar region">
    {% if loop.first %}
      {% image project.image, i18n.alt or "", null, "eager" %}
    {% else %}
      {% image project.image, i18n.alt or "", null, "lazy" %}
    {% endif %}

    <div class="flow">
      <h2 class="text-step-1">{{ project.name }}</h2>
      {{ i18n.about | markdownFormat | safe }}
      <span class="text-step-min-1">{{ i18n.peculiarities | markdownFormat | safe }}</span>

      <ul role="list" class="cluster">
        {% for tool in project.tools %}
          <li>
            <div
              popover="auto"
              id="target-popover-info-{{ loop.index }}"
              class="target"
              style="position-anchor: --anchor-btn-info-{{ loop.index }}"
            >
              {{ tools[page.lang][tool] }}
            </div>
            <button
              popovertarget="target-popover-info-{{ loop.index }}"
              id="anchor-popover-info-{{ loop.index }}"
              class="anchor"
              style="anchor-name: --anchor-btn-info-{{ loop.index }}"
              data-click-sound
            >
              {% svg 'tools/' + tool, tool, 'text-step-1' %}
            </button>
          </li>
        {% endfor %}
      </ul>

      {% if project.collaboration %}
        {% set partner = collaborators[project.collaboration] %}
        <div class="collaboration">
          <h3>{{ partner.name }}</h3>
          <p>{{ partner.description[page.lang] }}</p>
          <a href="{{ partner.url }}" target="_blank" rel="noopener">{{ partner.url }}</a>
        </div>
      {% endif %}

      <a class="button no-indicator" href="{{ project.clientURL }}" rel="noopener"
        >{{ project.clientURL | replace("https://", "") }}</a
      >
    </div>
  </article>
{% endfor %}
{% include 'partials/cta.njk' %}

{%- css "local" -%}
  {%- include 'css/projects.css' -%}
  {%- include 'css/anchor.css' -%}
{%- endcss -%}
