.arrow {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  height: 6em;
  width: auto;
  fill: var(--spot-color, var(--color-bg));
  transform: translate(100px, -20px) scale(-1, 1);
}

.thisisme {
  position: absolute;
  bottom: 0;
  right: 0;
  color: var(--spot-color, var(--color-text));
  transform: rotate(10deg) translate(155px, -20px);
}

.whimsical-hi {
  display: none;
}

@media (min-width: 101em) {
  .whimsical-hi {
    display: block;
  }
}
