svg.skyline {
  height: auto;
  transform: translateY(6px);
  width: var(--space-xl);
}

svg.avatar-cta {
  width: var(--space-xl);
  height: auto;
  transform: translateY(1.3rem);
}

svg.avatar-404 {
  width: 100%;
  height: auto;
}

svg.avatar-start {
  display: block;
  position: absolute;
  height: auto;
  bottom: 0;
  left: 0;
}

svg.avatar-start {
  transform: translateY(1.6rem) translateX(-6rem);
  width: 50%;
}

@media (min-width: 25em) {
  svg.avatar-start {
    transform: translateY(2rem) translateX(-7.2rem);
  }
}

@media (min-width: 30em) {
  svg.avatar-start {
    width: 40%;
    transform: translateY(2rem) translateX(-7rem);
  }
}

@media (min-width: 37em) {
  svg.avatar-start {
    transform: translateY(2.2rem) translateX(-9rem);
  }
}

@media (min-width: 42em) {
  svg.avatar-start {
    transform: translateY(3rem) translateX(-10rem);
    width: 35%;
  }
}

@media (min-width: 55em) {
  svg.avatar-start {
    transform: translateY(3.4rem) translateX(-15rem);
    width: 36%;
  }
}

@media (min-width: 70em) {
  svg.avatar-start {
    transform: translateY(3rem) translateX(-18rem);
  }
}

.avatar-content-reverse__inner {
  padding-left: var(--space-3xl);
}

svg.avatar-portatil,
svg.avatar-ball,
svg.avatar-blog {
  display: none;
}

.avatar-content {
  padding-top: var(--space-2xl);
}

@media (min-width: 30em) {
  svg.avatar-portatil,
  svg.avatar-ball,
  svg.avatar-blog {
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    right: 0;
  }

  svg.avatar-portatil {
    width: 40%;
    transform: translateY(5.4rem) translateX(var(--space-2xl));
  }

  svg.avatar-ball {
    width: 35%;
    transform: translateY(9rem) translateX(var(--space-m-l));
  }

  svg.avatar-blog {
    width: 35%;
    transform: translateY(11rem) translateX(var(--space-m-l));
  }

  .avatar-content__inner {
    padding-right: var(--space-4xl);
  }
}
