svg.avatar {
  z-index: 1;
}

svg.avatar-404 {
  width: 100%;
  height: auto;
}

svg.avatar-cta {
  width: var(--space-xl);
  height: auto;
  transform: translateY(1.3rem);
}

svg.avatar-start {
  display: block;
  position: absolute;
  height: auto;
  bottom: 0;
  left: 0;
  transform: translateY(2.6rem) translateX(-50%);
  width: clamp(200px, 33%, 30vw);
  grid-column: 1;
}

svg.avatar-portatil,
svg.avatar-ball,
svg.avatar-blog {
  display: none;
}

.avatar-content {
  padding-block-start: var(--space-2xl);
}

.avatar-content-reverse__inner {
  padding-inline-start: var(--space-3xl);
}

@media (min-width: 24em) {
  svg.avatar-blog {
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    right: 0;
  }

  svg.avatar-blog {
    width: clamp(200px, 35%, 30vw);
    transform: translateY(clamp(8rem, 6rem + 4vw, 10rem)) translateX(var(--space-xl))
      rotate(-1deg);
  }

  .avatar-content-blog__inner {
    padding-inline-end: var(--space-4xl);
  }
}

@media (min-width: 30em) {
  svg.avatar-portatil,
  svg.avatar-ball {
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    right: 0;
  }

  svg.avatar-portatil {
    width: clamp(200px, 40%, 40vw);
    transform: translateY(clamp(4rem, 3rem + 3vw, 6rem)) translateX(var(--space-2xl-3xl))
      scaleX(-1);
  }

  svg.avatar-ball {
    width: clamp(200px, 38%, 30vw);
    transform: translateY(var(--space-4xl)) translateX(var(--space-xl));
  }

  .avatar-content__inner {
    padding-inline-end: var(--space-4xl);
  }
}
