.button {
  color: var(--color-text);
  background-color: var(--color-bg);
  border: 3px solid var(--color-text);
  padding: var(--space-xs) var(--space-m-l);
  line-height: 3.5;
  box-shadow: 6px 6px 0 0 var(--color-text);
  transition: all 0.1s ease;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0px 0px 0 0 var(--color-text);
}
