.card {
  background: var(--color-bg-code);
  color: var(--color-light);
  padding: var(--space-m-l);
  border-radius: var(--border-radius);
  border: 3px solid var(--color-bg-code);
  max-width: unset;
}

.card ::selection {
  color: var(--color-bg);
  background: var(--color-secondary);
}

.card:hover,
.card:focus-within {
  border: 3px solid var(--color-primary);
}

.card a {
  text-decoration: none;
}

.card:focus-within a:focus {
  outline: none;
}
