.cta a {
  background-color: var(--color-bg);
  color: var(--color-text);
  padding: 0 0.3rem;
  border-radius: var(--border-radius);
  text-decoration: none;
}

.cta a:hover {
  outline: 1px solid;
  outline-offset: 0.01ch;
}

.cta section {
  font-size: var(--size-step-1);
}

/* .cta .section__inner {
  --spot-color: conic-gradient(
    var(--color-primary) 12%,
    var(--color-primary) 28%,
    var(--color-primary-shade) 28%,
    var(--color-primary-shade) 78%,
    var(--color-primary) 78%,
    var(--color-primary) 100%
  );
} */

.cta .section__inner {
  background: linear-gradient(
    5deg,
    var(--color-primary-shade) 0,
    var(--color-primary) 71%
  );
}

.cta svg {
  --spot-color: var(--color-primary);
}
