/* language menu */
/*
.languages {
  z-index: 2;
  position: fixed;
  inset-block-end: 1%;
  inset-inline-end: 3%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.languages li {
  list-style-type: none;
}

.large-button {
  font-size: var(--size-step-0);
  background-color: var(--color-primary);
  position: relative;
  z-index: 1;
  display: inline-grid;
  place-items: center;
  padding: 0 0.5em;
  border-radius: 50%;
  aspect-ratio: 1;
  text-decoration: none;
}

.large-button:hover::after,
.large-button:focus::after {
  opacity: 1;
  transform: scale(1.1);
}
.large-button::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: hsla(0 100% 67% / 30%);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 200ms linear, transform 750ms ease-in-out;
}

.languages .inac {
  background-color: var(--color-bg);
}

.languages .lang-en {
  animation-delay: 0.3s;
}

.languages .lang-es {
  animation-delay: 0.35s;
}

.languages .lang-de {
  animation-delay: 0.4s;
} */

/* exploding */

.language-nav {
  --offset: 1;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.language-nav-button {
  background-color: transparent;
  position: relative;
  z-index: 1;
  display: inline-grid;
  place-items: center;
  margin: var(--space-xs);
  border-radius: 50%;
  border-color: transparent;
  aspect-ratio: 1;
  text-decoration: none;
  cursor: pointer;
}

.language-select-nav {
  margin-top: 0;
  right: 30px;
  position: absolute;
  top: 100px;
  visibility: hidden;
  width: 220px;
  z-index: 90;
}
.language-item {
  align-items: center;
  background: 0 0;
  border-radius: var(--border-radius);
  color: var(--color-text);
  font-size: var(--size-step-1);
  height: 0;
  justify-content: center;
  margin-top: -5px;
  opacity: 0;
  padding: 0;
  text-decoration: none;
  bottom: -75px;
  transform: translate3d(0, 0, 0) rotate(0) scale(0);
  transform-origin: right center;
}

.active .language-select-nav {
  visibility: visible;
}
.active .language-item {
  background: var(--color-bg);
  border: 3px solid var(--color-text);
  display: grid;
  height: 65px;
  opacity: 1;
  top: 0;
  transform: translateX(calc(var(--offset) * 4px))
    rotate(calc(-0.01turn * var(--offset) + 0.02turn)) scale(1);
  transition-delay: calc(var(--offset) * 50ms + 100ms);
}

.active .language-item:hover {
  border: 3px solid var(--color-primary);
}

.active .lang-active {
  border: 3px solid var(--color-text);
  background: var(--color-primary);
  color: var(--color-light);
}
