.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-block: var(--space-xs);
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

@media (min-width: 85em) {
  .logo {
    transform: translateX(var(--gutter));
  }
}

nav.navbar {
  --nav-button-display: none;
  --nav-position: static;
}

nav.navbar ul {
  --nav-list-background: transparent;
  --nav-list-layout: row;
  --nav-list-position: static;
  --nav-list-padding: 0;
  --nav-list-height: auto;
  --nav-list-width: 100%;
  --nav-list-transform: none;
  --nav-list-visibility: visible;
}

.absolute-menu {
  position: absolute;
  width: 95%;
  color: var(--nav-list-color, var(--color-text));
}

/* set on parent div to get the right z-index context */
.ontop {
  z-index: 2;
  position: relative;
}

nav.navbar {
  position: var(--nav-position, fixed);
  inset-block-start: 0.5rem;
  inset-inline-end: 2rem;
}

/* Remove default list styling and create layout for list */
nav.navbar ul {
  background-color: var(--nav-list-background, var(--color-bg));
  display: flex;
  justify-content: flex-start;
  flex-direction: var(--nav-list-layout);
  flex-wrap: wrap;
  gap: 0.75rem 0.3rem;
  height: var(--nav-list-height);
  list-style: none;
  margin: 0;
  padding: var(--nav-list-padding, 3rem) var(--nav-list-padding, 2rem);
  position: var(--nav-list-position, fixed);
  inset-block-start: 0;
  inset-inline-end: 0;
  width: var(--nav-list-width, min(22rem, 100vw));
  visibility: var(--nav-list-visibility, visible);
}

/* Basic link styling */
nav.navbar a {
  border-block-end: 3px solid var(--border-color, transparent);
  color: var(--nav-list-color, var(--color-text));
  padding: 0.1rem 0.3rem;
  text-decoration: none;
  background-color: var(--nav-list-bg, var(--color-bg));
  border-radius: var(--border-radius);
}

@media (min-width: 50em) {
  nav.navbar ul {
    justify-content: flex-end;
    gap: var(--space-xs);
  }

  nav.navbar {
    margin-inline-end: var(--space-l);
  }

  nav.navbar a {
    background-color: transparent;
    border-radius: 0;
  }
}

/* Change the border-color on :hover and :focus */
nav.navbar a:where(:hover, :focus) {
  --border-color: var(--nav-list-color, var(--color-text));
}

/* Change border-color and color for the active page */
nav.navbar [aria-current='page'] {
  --border-color: var(--nav-list-color, var(--color-text));
  --text-color: var(--nav-list-color, var(--color-text));
}
