.projects-container {
  transform: translateY(-9.4rem);
}

.projects {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s-m);
  --region-space-top: var(--space-2xl);
}

.projects:last-child {
  --region-space-bottom: 0;
}

.projects > * {
  flex-grow: 1;
  flex-basis: calc((55rem - 100%) * 999);
}

.projects .visual {
  background-color: var(--color-tertiary);
}
.projects .visual,
.projects .visual img {
  aspect-ratio: 2 / 1.4;

  border-radius: var(--border-radius);
}

.projects .visual img {
  border: 3px solid var(--color-text);
}

@media (min-width: 30em) {
  .projects-container {
    transform: translateY(0);
  }

  .projects .visual img {
    transform: rotate(-2deg);
    /* width: clamp(45ch, 50%, 75ch); */
  }

  .projects .description::before {
    content: '';
    float: left;
    min-height: 100%;
    width: 100%;
    shape-outside: polygon(0 0, 0 0.1rem, 1.1rem 100%);
    shape-margin: 1em;
  }
}

.projects .visual img {
  object-position: left;
}

.projects h2 {
  font-size: var(--size-step-2);
  font-weight: normal;
}

.projects .details ul {
  font-size: var(--size-step-0);
  list-style: none;
  padding: 0;
}

.projects .details {
  position: absolute;
  bottom: 0;
  background-color: var(--color-bg-card);
  color: var(--color-light);
  padding: 0 var(--space-m-l);
  border-radius: var(--border-radius);
  max-width: unset;
  transform: translateX(-2rem) translateY(var(--space-xs-s));
}
