/* Webmentions */
.webmentions img {
  border-radius: 50%;
  display: inline;
  object-fit: cover;
}

.webmention-replies img {
  height: 24px;
  width: 24px;
}
.webmention-replies article {
  margin-bottom: 32px;
}
.webmention-replies .webmention__meta {
  margin-bottom: 8px;
}
.webmention-replies .webmention__meta time {
  display: block;
  margin-top: 8px;
}
.webmention-text {
  font-size: var(--size-400);
  margin-top: 0;
}
.webmention-text a {
  font-size: var(--size-300);
  margin-left: 4px;
}
