/* Webmentions */

.webmentions a:has(img) {
  text-decoration: none;
}

.webmentions h3 {
  font-size: var(--size-step-1);
}

.webmentions img {
  --size: 2.5rem;
  aspect-ratio: 1;
  background: 0 0;
  block-size: var(--size);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: inline;
  inline-size: var(--size);
  outline-offset: 5px;
  padding: 0;
}
