/* Webmentions */

.webmentions a:has(img) {
  text-decoration: none;
}

.webmentions h3 {
  font-size: var(--size-step-1);
}

.webmentions img {
  --size: 2.5rem;
  aspect-ratio: 1;
  background: 0 0;
  block-size: var(--size);
  border: none;
  border-radius: 50%;
  display: inline;
  inline-size: var(--size);
  outline-offset: 5px;
  padding: 0;
}

.webmention-replies .webmention__meta {
  display: flex;
  flex-direction: column;
}

.webmention {
  padding: var(--space-xs);
  border: 2px solid var(--color-bg-code);
}

.webmention .webmention-text {
  word-break: break-all;
}

.webmention .webmention-text > a,
.webmentions h3 span {
  font-size: var(--size-step-0);
  opacity: 0.8;
  margin-inline: 0.2rem;
  font-weight: normal;
}

.webmentions input[type='url'] {
  background-color: var(--color-bg-code);
  border: 2px solid #999;
  color: var(--color-text);
}

.webmentions input[type='url']::placeholder {
  opacity: 0.5;
  font-size: var(--size-step-0);
}

.webmentions .button {
  margin-inline-end: 0;
  padding: 0.1rem var(--space-m-l);
  line-height: 1.3;
}

@media screen and (min-width: 30em) {
  .webmention-replies .webmention__meta {
    display: grid;
    grid-template-columns: 50px 1fr 210px;
  }

  .webmention-replies .webmention__meta time {
    display: inline;
    margin-block-start: 0;
    text-align: right;
  }
}
