/**
 * REGION
 * Add consistent vertical padding to create regions of content
 * Can either be configured by setting --region-space or use a default from the space scale
 */
.region {
  padding-block-start: var(--region-space-top, var(--space-m-l));
  padding-block-end: var(--region-space-bottom, var(--space-m-l));
}
