# redirect to english, spanish or german landing pages.

[[redirects]]
from = "/"
to = "/de"
status = 302
force = true
conditions = {Language = ["de"]}

[[redirects]]
from = "/"
to = "/es"
status = 302
force = true
conditions = {Language = ["es"]}

[[redirects]]
from = "/"
to = "/en"
status = 302
force = true

# redirect the 404 pages to your specific variant.

[[redirects]]
  from = "/de/*"
  to = "/de/404"
  status = 404

[[redirects]]
  from = "/es/*"
  to = "/es/404"
  status = 404

[[redirects]]
  from = "/en/*"
  to = "/en/404"
  status = 404

[[plugins]]
package = "netlify-plugin-cache"
  [plugins.inputs]
  paths = [ ".cache" ]


[[headers]]
    for = "/*"
    [headers.values]
    Content-Security-Policy = "upgrade-insecure-requests; block-all-mixed-content;"
    X-Content-Type-Options = "nosniff"
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    Referrer-Policy = "strict-origin-when-cross-origin"
    Permissions-Policy = "autoplay=(), camera=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), publickey-credentials-get=()"


[build]
  command = "npm run build"
  publish = "dist"