/* Global variables.  */

/* Basic variable definitions for color schemes */
:root {
  --gutter: var(--space-m-l);
  --transition-duration: 250ms;
  --transition-timing: ease;
  --wrapper-width: 85rem;
  --tracking: -0.04ch;
  --tracking-s: -0.075ch;
  --tracking-wide: 0.04ch;
  --border-thickness: 0.15em;

  --gradient-rainbow: linear-gradient(90deg, #cf4662 10%, #fbbe25 30%, #62c95c 50%, #08bccb 75%, #a977d5 90%);
  --gradient-conic: conic-gradient(
    light-dark(var(--color-cinnabar), var(--color-cinnabar-subdued)) 0 12%,
    light-dark(var(--color-royal-blue), var(--color-royal-blue-subdued)) 0 33%,
    light-dark(var(--color-mandy), var(--color-mandy-subdued)) 0 55%,
    light-dark(var(--color-bright-sun), var(--color-bright-sun-subdued)) 0 70%,
    light-dark(var(--color-cinnabar), var(--color-cinnabar-subdued)) 0 100%
  );

  --color-light: var(--color-gray-100);
  --color-dark: var(--color-gray-800);

  --color-primary: light-dark(var(--color-cinnabar), var(--color-cinnabar-subdued));
  --color-secondary: light-dark(var(--color-royal-blue), var(--color-royal-blue-subdued));
  --color-tertiary: light-dark(var(--color-bright-sun), var(--color-bright-sun-subdued));

  --color-text: light-dark(var(--color-gray-800), var(--color-gray-100));
  --color-bg: light-dark(var(--color-gray-100), var(--color-gray-800));
  --color-text-accent: light-dark(var(--color-gray-700), var(--color-gray-300));
  --color-bg-accent: light-dark(var(--color-gray-200), var(--color-gray-700));
  --color-bg-accent-2: light-dark(var(--color-gray-400), var(--color-gray-600));
  --color-mark: light-dark(var(--color-bright-sun), var(--color-royal-blue-subdued));
}

[data-color='cinnabar'] {
  --color-accent: light-dark(var(--color-cinnabar), var(--color-cinnabar-subdued));
  --color-active: light-dark(
    color-mix(in oklab, var(--color-cinnabar) 90%, var(--color-bg)),
    color-mix(in oklab, var(--color-cinnabar-subdued) 90%, var(--color-text))
  );
}

[data-color='royal-blue'] {
  --color-accent: light-dark(var(--color-royal-blue), var(--color-royal-blue-subdued));
  --color-active: light-dark(
    color-mix(in oklab, var(--color-royal-blue) 90%, var(--color-bg)),
    color-mix(in oklab, var(--color-royal-blue-subdued) 90%, var(--color-text))
  );
}

[data-color='mandy'] {
  --color-accent: light-dark(var(--color-mandy), var(--color-mandy-subdued));
  --color-active: light-dark(
    color-mix(in oklab, var(--color-mandy) 90%, var(--color-bg)),
    color-mix(in oklab, var(--color-mandy-subdued) 90%, var(--color-text))
  );
}

[data-color='bright-sun'] {
  --color-accent: light-dark(var(--color-bright-sun), var(--color-bright-sun-subdued));
  --color-active: light-dark(
    color-mix(in oklab, var(--color-bright-sun) 90%, var(--color-bg)),
    color-mix(in oklab, var(--color-bright-sun-subdued) 90%, var(--color-text))
  );
}

[data-color='gray'] {
  --color-accent: light-dark(var(--color-gray-200), var(--color-gray-700));
}
