/* Hide without JS */
is-land:not(:defined) .theme-switch {
  display: none;
}

[data-theme='light'] .theme-switch .light-off {
  display: none;
}
[data-theme='dark'] .theme-switch .light-on {
  display: none;
}

.theme-switch button {
  padding-inline: var(--space-s);
}

.theme-switch svg {
  margin-block-start: calc(var(--space-l) * -1);
  scale: 2.2;
}
