
{% if not easterEggs.nakedJsDay %}
  <script>{% getBundle "js", "inline" %}</script>
  {%- js "inline" %}
    {% include "scripts/is-land.js" %}
    {% include "scripts/theme-toggle.js" %}
  {% endjs %}

  {% else %}
  {% include "easter-eggs/naked-js-day.njk" %}
{% endif %}