{% set metaDescription %}
  {%- if discover.description -%}
    {{- discover.description -}}
  {%- elif description -%}
    {{- description -}}
  {%- else -%}
    {{- translations[page.lang].siteDescription -}}
  {%- endif -%}
{% endset %}

<meta name="description" content="{{ metaDescription }}" />
<!-- Search Engines -->
<meta name="robots" content="index,follow" />
<meta name="googlebot" content="index,follow" />
<!-- Made with Eleventy! -->
<meta name="generator" content="{{ eleventy.generator }}" />
<!-- Disable automatic detection and formatting of possible phone numbers -->
<meta name="format-detection" content="telephone=no" />
<!-- supports both dark and light color schemes, page author prefers light as default. -->
<meta name="color-scheme" content="light dark" />
<!-- activates page transitions -->
<meta name="view-transition" content="same-origin" />
<!-- Helps prevent duplicate content issues -->
<link rel="canonical" href="{{ meta.url }}{{ page.url }}" />
<!-- Links to information about the author(s) of the document -->
<link rel="author" href="humans.txt" />

{% if personal.platforms.mastodon %}
  <!-- Mastodon verified site -->
  <link rel="me" href="{{ personal.platforms.mastodon }}" />
{% endif %}

{% if meta.author.fediverse %}
  <!-- fediverse creator tag -->
  <meta name="fediverse:creator" content="{{ meta.author.fediverse }}" />
{% endif %}

<!-- Open Graph meta  -->
<meta property="og:url" content="{{ meta.url }}{{ page.url }}" />
<meta property="og:type" content="website" />
<meta
  property="og:title"
  content="{%- if discover.title -%}
    {{- discover.title -}}
  {%- elif title -%}
    {{- title -}}
  {%- else -%}
    {{- meta.siteName -}}
  {%- endif -%}"
/>
<meta
  property="og:image"
  content="{%- if layout == 'post' -%}
    {{- meta.url -}}/assets/og-images/post-{{ page.lang }}-{{ page.fileSlug }}-preview.jpeg
    {%- elseif ogImage == true -%}
    {{- meta.url -}}/assets/og-images/page-{{ page.lang }}-{{ page.fileSlug }}-preview.jpeg
  {%- else -%}
    {{- meta.url -}}{{- meta.ogDefault -}}
  {%- endif -%}"
/>
<meta
  property="og:image:alt"
  content="{%- if layout == 'post' -%}
    {{- title -}}
  {%- else -%}
    {{- translations[page.lang].a11y.ogDefault_alt -}}
  {%- endif -%}"
/>
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:description" content="{{ metaDescription }}" />
<meta property="og:site_name" content="{{ meta.siteName }}" />
<meta property="og:locale" content="{{ translations[page.lang].locale }}" />
<meta property="article:author" content="{{ meta.author.name }}" />

<!-- alternate languages -->
<link rel="alternate" hreflang="{{ page.lang }}" href="{{ meta.url }}{{ page.url }}" />
{% for link in page.url | locale_links %}
  <link rel="alternate" hreflang="{{ link.lang }}" href="{{ meta.url }}{{ link.url }}" />
{% endfor %}
<link rel="alternate" hreflang="x-default" href="{{ meta.url }}{{ page.url | locale_url('en') }}" />

<!-- RSS Autodiscovery. Loops over meta.blog.feedLinks -->
{% for feedLink in meta.blog.feedLinks %}
  <link
    rel="alternate"
    type="{{ feedLink.type }}"
    title="{{ feedLink.title }}: {{ meta.siteName }}"
    href="/{{ page.lang }}{{ feedLink.url }}"
  />
{% endfor %}

<!-- Favicon: https://evilmartians.com/chronicles/how-to-favicon-in-2021-six-files-that-fit-most-needs -->
<link rel="icon" href="{{ '/favicon.ico' | url }}" sizes="any" />
<link rel="icon" href="{{ '/favicon.svg' | url }}" type="image/svg+xml" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | url }}" />
<link rel="manifest" href="{{ '/site.webmanifest' | url }}" />
