---
layout: base
---

<header class="section spot-color-primary" style="--spot-color: var(--color-primary)">
  <div class="section__inner">
    <div class="wrapper region prose" style="--region-space-top: var(--space-3xl)">
      <h1>{{ title }}</h1>
      <p>{{ lead | md | safe }}</p>
    </div>
  </div>
  {% include 'svg/divider-pixels.svg' %}
</header>

<article class="region">
  <div class="wrapper flow content">
    {{ content | safe }}

    <section class="breakout">
      <div class="sidebar" style="--sidebar-align: flex-end">
        {% include 'svg/madrid.svg' %}
        <header class="flow">
          <h2>{{ breakout.title }}</h2>
          <p>{{ breakout.intro }}</p>
        </header>
      </div>
    </section>
  </div>
</article>
