{% set assetHash = global.random() %}
<!doctype html>
<html lang="{{ page.lang }}" dir="ltr">
  <head>
    <!-- Welcome! I'm not minifying my html so you can look under the hood using the good old "View Page Source" way. -->

    <!-- 1 charset/http-equiv/viewport -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- 2 title -->
    <title>
      {% if seo.title %} {{ seo.title }}
      {% elif title %}
      {{ title }} | {{ meta[page.lang].siteName }}
      {% else %}
      {{ meta[page.lang].siteName }}
      {% endif %}
    </title>

    <!-- 3 preconnect/async js -->
    <!-- 4 synchronous js  -->
    <!-- load theme toggle first to avoid color flashing on page load and inline render blocking js  -->
    {% set jsthemetoggle %} {% include "theme-toggle-inline.js" %} {% endset %}

    <script>
      <!-- prettier-ignore -->
      {{ jsthemetoggle | jsmin | safe }}
    </script>

    <!-- include inline base schema application/ld+jso -->
    {% include "schemas/base-schema.njk" %} {% if schema == 'blog' %}
    <!-- include blogpost schema  -->
    {%- include "schemas/blogpost-schema.njk" %} {% endif %}
    <!-- 5 synchronous css / inline css  -->
    {% set css %}{% include "global-inline.css" %}{% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>

    <!-- 6 preload -->

    <!-- general preloads -->
    <link
      rel="preload"
      href="/assets/fonts/outfit/outfit-v5-latin-regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <!-- preloads in page data -->
    {% if preloads -%}
    <!-- prettier-ignore -->
    <link rel="preload" href="{{ preloads.href }}"
        as="{{ preloads.as }}"
        {%
        if
        preloads.type
        %}type={{
        preloads.type
        }}{%
        endif
        %}{%
        if
        preloads.imagesrcset
        %}imagesrcset="{{ preloads.imagesrcset }}" imagesizes="100vw"
        {%
        endif
        %}
        {%
        if
        preloads.crossorigin
        %}crossorigin{%
        endif
        %}>
    {% endif %}

    <!-- 7 defered js  -->
    <script type="module" src="/assets/scripts/is-land.js"></script>
    <script defer src="/assets/scripts/app.js"></script>
    {% if youtube %}
    <!-- include yt script if youtube: true in template frontmatter -->
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1.4.0/lite-youtube.min.js"
    ></script>
    {% endif %}

    <script
      data-domain="lenesaile.com"
      src="https://plausible.io/js/plausible.js"
      defer
    ></script>

    <!-- 8 everything else: meta tags, icons, open graph etc.  -->
    {% include "partials/meta-info.njk" %}
  </head>

  <body
    class="relative"
    style="--nav-list-color: {{ navcolor or 'var(--color-text)' }}; --nav-list-bg: {{ navbg or 'var(--color-bg)' }}"
  >
    {% include "partials/header.njk" %} {% include "partials/lang-switch.njk" %}

    <main id="main" class="relative">{{ content | safe }}</main>

    {% include "partials/footer.njk" %}
  </body>
</html>
