{% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="{{ locale }}">
  <head>
    <!-- 1 charset/http-equiv/viewport -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- 2 title -->
    <title>
      {% if seo.title %} {{ seo.title }}
      {% elif title %}
      {{ title }} | {{ meta[locale].siteName }}
      {% else %}
      {{ meta[locale].siteName }}
      {% endif %}
    </title>

    <!-- 3 preconnect/async js -->
    <!-- load theme toggle first to avoid color flashing on page load.  -->
    <script src="/assets/theme-toggle.js" async></script>
    <!-- include inline base schema application/ld+jso -->
    {% include "schemas/base-schema.njk" %}

    <!-- 4 synchronous js  -->

    <!-- 5 synchronous css  -->

    <!-- 6 preload -->

    <!-- css -->
    <link
      rel="preload"
      href="/assets/css/global.css?{{ assetHash }}"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript
      ><link rel="stylesheet" href="/assets/css/global.css?{{ assetHash }}"
    /></noscript>

    <!-- fonts -->

    <link
      rel="preload"
      href="/assets/fonts/outfit/outfit-v5-latin-700-webfont.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/assets/fonts/outfit/outfit-v5-latin-regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/assets/fonts/fira/firacode-medium-webfont.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <!-- 7 defered js  -->
    <script type="module" src="/assets/app.js" defer></script>
    <script
      defer
      data-domain="lenesaile.com"
      src="https://plausible.io/js/plausible.js"
    ></script>

    <!-- 8 everything else: meta tags, icons, open graph etc.  -->
    {% include "partials/meta-info.njk" %}
  </head>

  <body
    class="relative"
    style="--nav-list-color: {{ navcolor or 'var(--color-text)' }}; --nav-list-bg: {{ navbg or 'var(--color-bg)' }}"
  >
    <!-- header -->
    {% include "partials/header.njk" %} {% include "partials/lang-switch.njk" %}

    <!-- content slot -->

    <main id="main" class="relative">{{ content | safe }}</main>

    <!-- footer -->
    {% include "partials/footer.njk" %}

    <!-- yt script if active-->
    {% if youtube %}
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1.4.0/lite-youtube.min.js"
    ></script>
    {% endif %}
  </body>
</html>
