---
layout: base
---

<header
  class="section overflow-hidden"
  style="--spot-color: var(--color-quaternary); --section-color: var(--color-dark)"
>
  <div
    class="section__inner region"
    style="--region-space-bottom: var(--space-2xl); --region-space-top: var(--space-3xl)"
  >
    <div class="wrapper flow | content relative avatar-content">
      <section class="prose | avatar-content__inner">
        <h1 class="fade-in">{{ title }}</h1>
        <p>{{ description }}</p>
      </section>
      {% include "svg/lene-blog.svg" %}
    </div>
  </div>

  {% include 'svg/divider-curve.svg' %}
</header>

<article class="wrapper region" style="--region-space-top: var(--space-2xl)">
  {% include "partials/blog.njk" %}
</article>
