---
layout: base
---

<header>
  <div
    class="wrapper region prose text-center pt-l-xl"
    style="--region-space-top: var(--space-3xl)"
  >
    <h1>{{ title }}</h1>
    <p>{{ lead }}</p>
  </div>
</header>

<article class="region">
  <div class="wrapper flow content">
    {{ content | safe }}
  </div>
</article>
