---
layout: naked
---

<main id="main" class="relative">
  <article class="region">
    <div class="wrapper flow prose pb-2xl">
      <a href="/"> {% include "svg/lene-404.svg" %} </a>

      <h1 class="gradient-text">
        {{ title }}
      </h1>

      {{ content | safe }}
    </div>
  </article>
</main>
