---
layout: base
preloads:
  href: '/assets/images/lene2022-500w.jpeg'
  as: 'image'
  type: ''
  imagesrcset: '/assets/images/lene2022-500w.webp 500w, /assets/images/lene2022-900w.webp 900w, /assets/images/lene2022-1280w.webp 1280w'
  crossorigin: true
---

<header class="hero" style="--spot-color: var(--color-primary)">
  <div class="gridwrap relative">
    <div class="welcome">
      <div class="wrapper region" style="--region-space-top: var(--space-3xl)">
        <h1 class="fade-in-bottom" style="--custom-size-step: var(--size-step-4)">
          {{ hero.title }}
        </h1>
      </div>
    </div>

    <div class="intro region" style="--region-space-top: var(--space-xl)">
      <div class="column p-note">
        {{ hero.intro }}
      </div>
    </div>

    <div class="snapshot">
      {% image hero.image, "fade-in", "object-fit-cover u-photo", hero.alt, "eager",
      "(min-width: 688px) 60vw, 100vw" %}
      <!-- this is me -->
      {% include 'svg/arrow.svg' %}
      <div class="thisisme whimsical-hi">{{ hero.hi }}</div>
    </div>
  </div>
</header>

<article class="region" style="--region-space-top: var(--space-2xl)">
  <div class="wrapper flow prose">
    <h2>{{ about.title }}</h2>

    <div class="column flow prose">
      {{ content | safe }}
    </div>
  </div>
</article>

<!-- projects -->

<article
  class="section overflow-hidden"
  style="--button-color: var(--color-tertiary); --spot-color: var(--color-secondary)"
>
  {% include 'svg/divider-curve.svg' %}

  <div class="section__inner region" style="--region-space-top: 0">
    <div class="wrapper flow | content relative">
      {% include "svg/lene-startcta.svg" %}

      <section class="flow region | avatar-content-reverse__inner">
        <h2>{{ projects.title }}</h2>
        <p>{{ projects.teaser }}</p>

        <a href="{{ projects.goal }}" class="button">{{ projects.button }}</a>
      </section>
    </div>
  </div>
</article>

<!-- blog -->
<!-- TODO: duplicate of partials/blog-loop.njk, Solution excluding notes ist not really good. -->

<article class="region" style="--region-space-top: var(--space-2xl)">
  <div class="wrapper flow prose">
    <h2>{{ blog.title }}</h2>
    <p>{{ blog.intro }}</p>
  </div>
  <ul class="wrapper grid mt-l-xl" role="list" data-rows="masonry" data-layout="50-50">
    {% set postslist = collections["blog_" + page.lang] | categoryFilter("blogpost") %} {%
    for post in postslist.slice(0, 4) %} {% if post.data.type %} {% else %}

    <li class="card flow clickable-card overflow-hidden">
      <h2>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </h2>

      {% set definedDate = post.date %} {% include "partials/date.njk" %}
      <p>{{ post.data.description }}</p>
    </li>

    {% endif %} {% endfor %}
  </ul>
</article>

{% include 'partials/cta.njk' %}
