{% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- 1 charset/http-equiv/viewport -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- 2 title -->
    <title>404 not found | Lene Saile</title>

    <!-- 3 preconnect/async js -->
    <!-- 4 synchronous js  -->
    <!-- include inline base schema application/ld+jso -->
    {% include "schemas/base-schema.njk" %}

    <!-- 5 synchronous css / inline css  -->
    {% set css %}{% include "global-inline.css" %}{% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>

    <!-- 6 preload -->

    <!-- general preloads -->
    <link
      rel="preload"
      href="/assets/fonts/outfit/outfit-v5-latin-700-webfont.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/assets/fonts/outfit/outfit-v5-latin-regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <!-- 7 defered js  -->

    <!-- 8 everything else: meta tags, icons, open graph etc.  -->
    {% include "partials/meta-info.njk" %}
  </head>
  <body class="relative">
    {{ content | safe }}
  </body>
</html>
