---
layout: base
---

<article class="region" style="--region-space-top: var(--space-4xl)">
  <div class="wrapper flow content">
    <h1 class="gradient-text">{{ title }}</h1>
    {{ content | safe }}
  </div>
</article>
