---
layout: base
preloads:
  href: '/assets/fonts/fira/firacode-medium-webfont.woff2'
  as: 'font'
  type: 'font/woff2'
  crossorigin: true
---

<article class="region blog" style="--region-space-top: var(--space-4xl)">
  <div class="wrapper flow content">
    <h1 class="gradient-text">{{ title }}</h1>
    <!-- date -->
    {% set definedDate = date %} {% include "partials/date.njk" %}

    <!-- image -->
    {% if image %}

    <div class="decoration">
      {% image image, "", "object-fit-cover", alt, "eager", "(min-width: 1690px) 50vw,
      100vw" %}
    </div>
    {% endif %}

    {{ content | safe }}
  </div>
</article>

<!-- webmentions -->
{% set webmentionUrl %}{{ page.url | url | absoluteUrl(meta.url) }}{% endset %} {% include
"partials/webmentions.njk" %}
<!-- cta -->
{% include 'partials/cta.njk' %}
<!-- include blogpost schema  -->
{%- include "schemas/blogpost-schema.njk" %}
