---
layout: base
---

<header class="section spot-color-primary" style="--spot-color: var(--color-tertiary)">
  <div class="section__inner">
    <div
      class="wrapper flow sidebar"
      style="
        --sidebar-wrap: no-wrap;
        --sidebar-target-width: 70%;
        --sidebar-content-min-width: 16rem;
      "
    >
      <section class="region content" style="--region-space-bottom: 0">
        <h1>{{ title }}</h1>
        <p>{{ lead }}</p>
      </section>

      {% include "svg/lene-ball.svg" %}
    </div>

    <!-- <div class="wrapper region prose" style="--region-space-top: var(--space-3xl)">
      <h1>{{ title }}</h1>
      <p>{{ lead | md | safe }}</p>
    </div> -->
  </div>
  {% include 'svg/divider-tilt.svg' %}
</header>

<article class="wrapper region" style="--region-space-top: var(--space-2xl)">
  <ul class="grid mt-l-xl" role="list" data-rows="masonry" data-layout="50-50">
    {% set projectlist = collections["projects_" + locale] %} {% for project in
    projectlist %}

    <li class="card flow">
      <h3>
        {{ project.data.title }}
      </h3>
      <p>{{ content | safe }}</p>
    </li>
    {% endfor %}
  </ul>
</article>
