---
layout: base
---

<header class="section overflow-hidden" style="--spot-color: var(--color-tertiary)">
  <div
    class="section__inner region"
    style="--region-space-bottom: var(--space-3xl); --region-space-top: var(--space-3xl)"
  >
    <div class="wrapper | content relative avatar-content">
      <section class="prose | avatar-content__inner">
        <h1 class="fade-in-bottom">{{ title }}</h1>
        <p>{{ lead }}</p>
      </section>
      {% include "svg/lene-ball.svg" %}
    </div>
  </div>

  {% include 'svg/divider-tilt.svg' %}
</header>

<div class="projects-container">
  {% set projectlist = collections["projects_" + page.lang] %} {% for project in
  projectlist %}

  <article class="wrapper projects region flow">
    <div class="visual relative">
      {% if project.data.image %} {% image project.data.image, "object-fit-cover" ,
      "object-fit-cover", project.data.alt, "lazy", "(min-width: 1750px) 50vw, 100vw" %}
      {% endif %}

      <div class="details">
        <ul>
          {% for item in project.data.technologies %}
          <li>{{ item }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="description flow" style="--button-color: var(--color-tertiary)">
      <!-- <span class="pill">{{ project.data.type }}</span> -->
      <h2>{{ project.data.title }}</h2>

      <p>{{ project.data.lead | md | safe }}</p>
      <a
        class="button"
        href="{{ project.data.clientURL }}"
        >{{ project.data.clientURL | replace("https://www.", "") }}</a
      >
    </div>
  </article>
  {% endfor %}
</div>

<div
  class="region"
  style="--region-space-top: var(--space-3xl); --region-space-bottom: 0"
>
  {% include 'partials/cta.njk' %}
</div>
