.anchor {
  cursor: pointer;
  z-index: 1;
  /* padding: var(--space-xs) var(--space-2xs);
  height: auto;
  display: grid;
  place-content: center;
 */
}

.anchor svg {
  inline-size: auto;
}

.target {
  inline-size: min(25rem, 90%);
  background-color: var(--target-bg, var(--color-accent));
  color: var(--target-color, var(--color-bg));
  border: 2px solid var(--target-border, var(--color-active));
  font-size: var(--target-font-size, var(--size-step-min-1));
  overflow: visible;
  border-radius: var(--border-radius-small);
  padding: var(--space-xs) var(--space-m);
}

.target .meta {
  font-size: var(--size-step-min-1);
}

.target nav svg {
  font-size: var(--size-step-1);
}

@supports (position-anchor: --anchor-el) {
  .target {
    inset: unset;
    position: absolute;
    margin: 0;
    inset-inline-end: anchor(right);
    inset-block-start: anchor(bottom);
    inset-block-end: anchor(top);
    translate: 0 0.5em;
    inline-size: min(28rem, calc(100% - var(--gap)));
  }

  .target::before {
    content: '';
    position: absolute;
    pointer-events: none;
    border: solid transparent;
    block-size: 0;
    inline-size: 0;
    border-color: transparent;
    border-bottom-color: var(--target-bg, var(--color-text));
    border-width: 12px;
    inset-block-end: 100%;
    inset-inline-end: 0;
    translate: calc(var(--gap) / -1) 0;
  }
}
