@media (prefers-reduced-motion: no-preference) {
  .wobble {
    transform-origin: center;
    animation: shake-z 3s ease-in-out infinite;
  }

  @keyframes shake-z {
    0%,
    100% {
      transform: rotate(0deg);
    }
    5% {
      transform: rotate(-2deg);
    }
    10% {
      transform: rotate(2deg);
    }
    15% {
      transform: rotate(-2deg);
    }
    20% {
      transform: rotate(2deg);
    }
    20%,
    100% {
      transform: rotate(0deg);
    }
  }
}
