.webmentions h3 {
  font-size: var(--size-step-0);
}

.webmentions h2 + p {
  font-size: var(--size-step-min-1);
}

.webmentions .avatars {
  max-inline-size: 40ch;
}

.webmentions .avatars li {
  margin-inline-end: calc(var(--space-s) * -1);
  padding: 0;
}

.webmentions .avatars img {
  aspect-ratio: 1;
  height: var(--size-step-1);
  overflow: clip;
  width: var(--size-step-1);
  border-radius: 1e5px;
  border: var(--stroke-thin);
  background: var(--color-light);
}
