---
permalink: /humans.txt
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---

/* TEAM */
Web designer and developer: {{ meta.author }}
Contact: {{ meta.authorEmail }}
Site: {{ meta.url }}
{% if meta.meta_data.mastodonProfile %}Mastodon: {{ meta.meta_data.mastodonProfile }}{% endif %}
From: {{ meta.address.city }}, {{ meta.address.country }}

/* SITE */
Doctype: HTML5
Language: English / Deutsch / Castellano