---
offSetLeft: 120
fontDisplay: "'Outfit', Ubuntu" # needed created in local development, font must be installed on your system.
fontBody: "'Atkinson Hyperlegible', Ubuntu" # needed created in local development, font must be installed on your system.
fontDisplayWidth: 700
fontDisplaySize: 70
fontBodyWidth: 400
fontBodySize: 20
background: '#F5CF38'
text: '#2e2e2e'
siteUrl: 'lenesaile.com'
pagination:
  data: collections.posts
  size: 1
  alias: post
permalink: '/assets/og-images/{{ post.data.lang }}-{{ post.data.title | slugify }}-preview.svg'
eleventyExcludeFromCollections: true
---

<svg
  width="1200"
  height="630"
  viewBox="0 0 1200 630"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
>
  {% set titleInLines = post.data.title | splitlines(20) %}
  {% set numberOfLines = titleInLines.length %}
  {% if numberOfLines == 1 %}
    {% set verticalStartingPoint = 340 %}
    {% elseif numberOfLines == 2 %}
    {% set verticalStartingPoint = 290 %}
    {% elseif numberOfLines == 3 %}
    {% set verticalStartingPoint = 250 %}
    {% elseif numberOfLines == 4 %}
    {% set verticalStartingPoint = 210 %}
    {% elseif numberOfLines == 5 %}
    {% set verticalStartingPoint = 170 %}
  {% endif %}

  <rect id="bg" width="100%" height="100%" opacity="1" fill="{{ background }}" />
  <!-- date -->
  <text
    font-family="{{ fontBody }}, sans-serif"
    font-size="{{ fontBodySize }}"
    font-weight="{{ fontBodyWidth }}"
    fill="{{ text }}"
    letter-spacing="-1"
  >
    <tspan x="{{ offSetLeft }}" y="{{ verticalStartingPoint - 120 }}">
      {{ post.date | formatDate('DD / MM / YYYY') }}
    </tspan>
  </text>

  <!-- title -->
  <text
    id="text"
    font-family="{{ fontDisplay }}, sans-serif"
    font-size="{{ fontDisplaySize }}"
    font-weight="{{ fontDisplayWidth }}"
    fill="{{ text }}"
    letter-spacing="-3"
  >
    {% for line in titleInLines %}
      <tspan x="{{ offSetLeft }}" y="{{ verticalStartingPoint - 20 + loop.index0 * 80 }}"> {{ line }} </tspan>
    {% endfor %}
  </text>

  <!-- url -->
  <text
    font-family="{{ fontDisplay }}, sans-serif"
    font-size="{{ fontBodySize }}"
    font-weight="{{ fontDisplayWidth }}"
    fill="{{ text }}"
    letter-spacing="-0.5"
  >
    <tspan x="{{ offSetLeft }}" y="560">— {{ siteUrl }}</tspan>
  </text>

  <!-- image -->
  {% set imagePath = "./src/assets/images/lene/lene-square.jpg" %}
  {% set base64Image = imagePath | base64Format %}

  <pattern id="image-pattern" x="0" y="0" width="100%" height="100%" patternUnits="objectBoundingBox">
    <image
      x="0"
      y="0"
      width="470"
      height="470"
      href="{{ base64Image }}"
      preserveAspectRatio="xMidYMid slice"
    />
  </pattern>

  <circle cx="5%" cy="40%" r="25%" fill="url(#image-pattern)" transform="translate(980,220)" />

</svg>
