<table width="100%" bgcolor="#e54848">
  <tr>
    <td align="center">
      <font face="sans-serif" size="3" color="#201415">
        <b>{{ translations[page.lang].easterEggs.cssNakedDay.title }}!</b>
        <small>
          &nbsp; {{ translations[page.lang].easterEggs.cssNakedDay.description }} -
          <a href="{{ translations[page.lang].easterEggs.cssNakedDay.link }}">
            {{ translations[page.lang].easterEggs.cssNakedDay.link | replace ("https:://", "") }}
          </a>
        </small>
      </font>
    </td>
  </tr>
</table>
