<!-- [ {{ translations[page.lang].easterEggs.jsNakedDay.title }} ]
     {{ translations[page.lang].easterEggs.jsNakedDay.description }}
     {{ translations[page.lang].easterEggs.jsNakedDay.link }} -->
