.post h1 {
  font-size: var(--size-step-3);
  line-height: var(--leading-fine);
}

.post h2 {
  font-size: var(--size-step-2);
}

.post h3 {
  font-size: var(--size-step-1);
}

/* make featured image alwyays 16/9 */
.post h1 + :is(picture, figure) img {
  max-inline-size: var(--max-img-width, 100%);
  block-size: auto;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
}

.post date {
  font-size: var(--size-step-1);
  color: var(--color-text-light);
}

.post .credit {
  font-size: var(--size-step-min-1);
  color: var(--color-text-accent);
  background-color: var(--color-bg);
  padding: var(--space-xs) var(--space-s);
  border-radius: var(--border-radius-medium);
  transform: translateY(-4ch) translateX(-0.5ch);
  max-inline-size: fit-content;
}

.post dt {
  flex-basis: 10rem;
  flex-grow: 1;
}

.post dd {
  display: block;
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 70%;
}

/* asides and toc */

.post .toc-toggle {
  --flow-space: var(--space-2xl);
}

.post .toc-toggle summary {
  text-decoration-line: underline;
  text-decoration-color: gray;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.1em;
  font-weight: var(--font-bold);
  font-family: var(--font-display);
  font-size: var(--size-step-1);
  gap: 0 0.5ch;
  border-radius: var(--border-radius-small);
  margin-inline-start: var(--space-xl);
}

.post .toc-toggle :is(summary:hover, summary:focus-visible) {
  text-decoration-color: transparent;
}

.post .toc-toggle details > * + * {
  margin-inline-start: 0ch;
}

.post .toc-toggle summary::before {
  --size: var(--space-xl);
  content: '';
  background-image: url('/assets/images/template/eye-close.svg');
  border-radius: 100%;
  display: flex;
  block-size: var(--size);
  inline-size: var(--size);
  line-height: 1;
  background-color: var(--color-bg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 90% auto;
  margin-block-start: 0em;
  inset-inline-start: calc(var(--space-xl) * -1);
  translate: -0.2em -0.5em;
}

.post .toc-toggle details[open] summary::before {
  content: '';
  background-image: url('/assets/images/template/eye.svg');
}

@media screen(wrapper) {
  .post .toc-toggle summary {
    margin-inline-start: 0;
    gap: 0;
  }
}

.post :is(.info, .readmore, .table-of-contents) {
  border: var(--stroke);
  border-radius: var(--border-radius-medium);
  padding-inline: var(--space-xl);
  padding-block: var(--space-s-m);
  position: relative;
}

.post .table-of-contents {
  padding-inline: var(--space-m-l);
  padding-block: var(--space-xs);
}

.post .readmore h2 {
  font-size: var(--size-step-1);
  margin-block-start: var(--space-m);
}

.post :is(.info, .readmore, .table-of-contents)::before {
  --size: var(--space-2xl);
  position: absolute;
  inset-inline-start: calc(var(--size) / -2 - var(--border-thickness) / 2);
  inset-block-start: var(--space-l);
  content: '';
  border-radius: 100%;
  display: flex;
  block-size: var(--size);
  inline-size: var(--size);
  line-height: 1;
  background-color: var(--color-bg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 90% auto;
}

.post .info::before {
  background-image: url('/assets/images/template/info.svg');
}

.post .readmore::before {
  background-image: url('/assets/images/template/book.svg');
}

.post .table-of-contents::before {
  background-image: url('/assets/images/template/cursor.svg');
}

.post .toc-list {
  line-height: var(--leading-loose);
}

.post .toc-list .toc-list {
  list-style: none;
  opacity: 0.7;
  padding-inline-start: 0;
}
