{% if post.data.category == "note" %}

<li id="{{ post.data.title | slugify }}" class="card flow overflow-hidden note">
  <span> Quick note</span>
  {% set definedDate = post.date %} {% include "partials/date.njk" %}

  {{ post.data.content | safe }}
</li>

{% else %}

<li id="{{ post.data.title | slugify }}" class="card flow clickable-card overflow-hidden">
  <h2>
    <a href="{{ post.url | url }}">{{ post.data.title }}</a>
  </h2>

  {% set definedDate = post.date %} {% include "partials/date.njk" %}
  <p>{{ post.data.description }}</p>
</li>

{% endif %}
