{% set headingLevel = headingLevel | default("h2") %}
{% set definedDate = definedDate | default(item.date) %}
{% set showTags = showTags | default(true) %}

{% if item.data.category == "note" %}

  <custom-card note>
    <header slot="headline" class="cluster">
      {%- if item.data.draft -%}<span class="text-step-min-1 bg-cinnabar-600 text-cinnabar-100 px-2 font-regular">[draft]</span>{%- endif %}
      <span slot="note" class="button font-display font-bold text-step-min-2" data-small-button data-button-variant="theme">
        {{ translations[page.lang].blog.note }}</span
      >
      <span class="flow-space-s text-step-min-1"> {% include "partials/date.njk" %} </span>
    </header>
    <div slot="content" class="flow text-step-min-1">{{ item.content | safe }}</div>
  </custom-card>

{% else %}

  <custom-card clickable>
    <{{ headingLevel }} slot="headline" class="text-step-1">
      <a href="{{ item.url | url }}">{%- if item.data.draft -%}<span class="text-step-min-1 bg-cinnabar-600 text-cinnabar-100 font-regular">[draft]</span>{%- endif %} {{ item.data.title }}</a>
    </{{ headingLevel }}>
    <div slot="meta" class="meta | cluster flow-space-xs">
      <span class="flow-space-s"> {% include "partials/date.njk" %} </span>
      {% if showTags and item.data.tags.length > 1 %}
        {% for tag in item.data.tags %}
          {% if tag != "posts" %}
            <span class="button" data-small-button>{{ tag }}</span>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
    <div slot="content" webc:nokeep>{{ item.data.description | markdownFormat | safe }}</div>
  </custom-card>

{% endif %}

{% css "local" %}
  {% include "css/custom-card.css" %}
{% endcss %}
