{% if cta %}

<section class="section cta">
  {% include 'svg/divider-tilt.svg' %}

  <div class="section__inner overflow-hidden">
    <div
      class="wrapper flow sidebar"
      style="
        --sidebar-wrap: no-wrap;
        --sidebar-target-width: 70%;
        --sidebar-content-min-width: 16rem;
        --sidebar-align: flex-end;
      "
    >
      <div class="region flow" style="--region-space-bottom: var(--space-2xl)">
        <h2>{{ cta.title }}</h2>
        <p class="visible-desktop">{{ cta.desktop | md | safe }}</p>
        <p>{{ cta.lead | md | safe }}</p>
      </div>

      {% include "svg/lene-cta.svg" %}
    </div>
  </div>
</section>

{% endif %}
