<time datetime="{{ definedDate | toIsoString }}">
  <!-- TODO: less verbose -->
  <!-- if DE -->
  {% if locale == "de" %}
  {{
    definedDate | formatDateDE('dddd, MMMM D, YYYY')
  }}
  <!-- if ES -->
  {% elif locale == "es" %}
  {{
    definedDate | formatDateES('dddd, D, MMMM YYYY')
  }}
  <!-- else default: EN -->
  {% else %}
  {{
    definedDate | formatDate('MMMM D, YYYY')
  }}
  {% endif %}
</time>
