<time datetime="{{ definedDate | toIsoString }}">
  <!-- TODO: less verbose -->

  {% if locale == "de" %}
  {{
    definedDate | formatDateDE('dddd, D. MMMM YYYY')
  }}

  {% elif locale == "es" %}
  {{
    definedDate | formatDateES('dddd, D MMMM, YYYY')
  }}

  {% else %}
  <!-- default: EN -->
  {{
    definedDate | formatDate('MMMM D, YYYY')
  }}
  {% endif %}
</time>
