<footer class="site-foot h-card" role="contentinfo">
  <div class="wrapper prose">
    <div class="site-foot__inner">
      <nav id="footernav" class="site-foot__inner" aria-label="{{ meta[locale].ariaLabels.footerMenu }}">
        {% set activePage = page.url | url %}
        <p class="h-card p-author">
        <a class="p-name u-url" rel="me" href="/">
        &copy; {% year %} {{ meta[locale].siteName }}</a></p>

        {% for item in navigation[locale].bottom %}

        <a
          href="{{ item.url }}"
          {{
          helpers.getLinkActiveState(item.url,
          page.url)
          |
          safe
          }}
          >{{ item.text }}</a
        >

        {% endfor %}
      </nav>

      <div id="social" class="site-foot__inner">
        {% for item in social %}

        {% if item.platform == "rss" %}
        <a href="{{ meta.url }}/{{ locale }}{{ item.url }}" target="_blank" rel="noopener">
        {% else %}
        <a href="{{ item.url }}" rel="me">
          {% endif %}
          <span class="sr-only">{{ item.platform }}</span>
          <div aria-hidden="true">{% include 'icons/social-' + item.icon %}</div>
          </a
          >
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- lang menu -->
</footer>
