<footer class="site-foot" role="contentinfo">
  <div class="wrapper prose">
    <div class="site-foot__inner">
      <nav id="footernav" class="site-foot__inner">
        <a href="/{{ locale }}/">&copy; {% year %} {{ meta[locale].siteName }}</a>

        {% for item in navigation[locale].bottom %}

        <a
          href="{{ item.url }}"
          {{
          helpers.getLinkActiveState(item.url,
          page.url)
          |
          safe
          }}
          >{{ item.text }}</a
        >

        {% endfor %}
      </nav>

      <div id="social" class="site-foot__inner">
        {% for item in social %}

        <a href="{{ item.url }}" rel="me">
          <span class="sr-only">{{ item.platform }}</span>
          <div aria-hidden="true">{% include 'icons/social-' + item.icon %}</div></a
        >

        {% endfor %}
      </div>
    </div>
  </div>

  <!-- lang menu -->
</footer>
