<a href="#main" class="skip-link">{{ meta[locale].skipText }}</a>

<header class="wrapper | relative">
  <div class="absolute-menu">
    <div
      class="sidebar | ontop"
      style="--sidebar-target-width: 15rem; --sidebar-content-min-width: 63%"
    >
      <div class="logo">
        <button
          type="button"
          id="theme-toggle"
          class="theme-toggle"
          aria-label="auto"
          aria-live="polite"
        >
          {% include "icons/sun-moon.svg" %}
        </button>

        <a href="/{{ locale }}/" class="no-underline">
          {{ meta[locale].siteName }}
        </a>
      </div>

      {% include "partials/menu.njk" %}
    </div>
  </div>
</header>
