<div class="language-nav">
  <button
    type="button"
    aria-expanded="false"
    aria-label="Select language"
    aria-controls="languagenav"
    class="language-nav-button"
  >
    {% include "icons/settings.svg" %}
    <span class="sr-only">Show Navigation</span>
  </button>
  <nav id="languagenav" class="language-select-nav" aria-label="Languages">
    {% for language in meta.languages %} {% if loop.first %} {% endif %}

    <!-- set translatedUrl to the homepage of that language by default  -->
    {% set translatedUrl = "/" + language.code + "/" %}

    <!-- set general identifier class -->
    {% set langClass = "lang-" + language.code %}

    <!-- set current language class  -->
    {% set activeClass = "lang-active" if language.code == locale else "inac" %} {% for
    item in collections.all %} {% if item.data.key == key and item.data.locale ==
    language.code %} {% set translatedUrl = item.url %} {% endif %} {% endfor %}
    <a
      class="language-item {{ activeClass }} "
      href="{{ translatedUrl }}"
      style="--offset: {{ loop.index }}"
      aria-selected="false"
      aria-controls="lang-{{ language.code }}"
    >
      {{ language.long }}
    </a>
    {% if loop.last %} {% endif %} {% endfor %}
  </nav>
</div>
