<div class="language-nav">
  <button
    type="button"
    aria-expanded="false"
    aria-controls="languagenav"
    class="language-nav-button"
  >
    {% include "icons/settings.svg" %}
    <span class="sr-only">{{ meta[page.lang].ariaLabels.optionsButton }}</span>
  </button>

  <ul
    id="languagenav"
    class="language-select-nav"
    role="listbox"
    aria-label="{{ meta[page.lang].ariaLabels.optionsMenu }}"
  >
    {% for language in meta.languages %} {% if loop.first %} {% endif %} {% set
    translatedUrl = "/" + language.code + "/" %} {% set langClass = "lang-" +
    language.code %}

    <!-- set active state-->
    {% set selectedState = "true" if language.code == page.lang else "false" %}

    <!-- now redundant: class selecting -->
    {% set activeClass = "lang-active" if language.code == page.lang else "inactive" %}
    <!-- start loop -->
    {% for item in collections.all %} {% if item.data.key == key and item.data.page.lang
    == language.code %} {% set translatedUrl = item.url %} {% endif %} {% endfor %}
    <li>
      <a
        id="lang-{{ language.code }}"
        class="{{ activeClass }}"
        href="{{ translatedUrl }}"
        rel="alternate"
        hreflang="{{ language.code }}"
        style="--offset: {{ loop.index }}"
        aria-selected="{{ selectedState }}"
        role="option"
      >
        <span lang="{{ language.code }}"> {{ language.long }}</span>
      </a>
    </li>
    {% if loop.last %} {% endif %} {% endfor %}
  </ul>
</div>
