<nav id="mainnav" class="navbar" aria-label="Main Menu">
  <ul>
    {% for item in navigation[locale].top %}
    <li>
      <a
        href="{{ item.url }}"
        {{
        helpers.getLinkActiveState(item.url,
        page.url)
        |
        safe
        }}
        >{{ item.text }}</a
      >
    </li>
    {% endfor %}
  </ul>
</nav>
