<!-- https://htmlhead.dev / https://www.matuzo.at/blog/html-boilerplate/
-->

<!-- Set the base URL for all relative URLs within the document -->
<base href="{{ page.url }}" />

<meta
  name="description"
  content="{% if discover.description %}{{ discover.description }}{% elif description %}{{
    description
  }}{% else %}{{ meta[page.lang].siteDescription }}{% endif %}"
/>

<meta name="robots" content="index,follow" />
<meta name="googlebot" content="index,follow" />
<meta
  name="generator"
  content="{{ eleventy.generator }}"
/>
<meta
  name="format-detection"
  content="telephone=no"
/>
<meta name="color-scheme" content="light dark" />
<link
  rel="canonical"
  href="{{ meta.url }}{{ page.url }}"
/>
<link
  rel="author"
  href="humans.txt"
/>
<link
  rel="webmention"
  href="https://webmention.io/www.lenesaile.com/webmention"
/>
<link
  rel="pingback"
  href="https://webmention.io/www.lenesaile.com/xmlrpc"
/>
{% if meta.meta_data.mastodonProfile %}
<!-- Mastodon verified site -->
<link rel="me" href="{{ meta.meta_data.mastodonProfile }}" />
{% endif %}

<!-- alternate languages -->

<link rel="alternate" hreflang="{{ page.lang }}" href="{{ meta.url }}{{ page.url }}" />
{% for link in page.url | locale_links %}
<link rel="alternate" hreflang="{{ link.lang }}" href="{{ meta.url }}{{ link.url }}" />
{% endfor %}

<link
  rel="alternate"
  hreflang="x-default"
  href="{{ meta.url }}{{ page.url | locale_url('en') }}"
/>

<!-- Open Graph meta -->
<meta property="og:url" content="{{ meta.url }}{{ page.url }}" />
<meta property="og:type" content="website" />
<meta
  property="og:title"
  content="{% if title %}{{ title }}{% else %}{{ meta[page.lang].siteName }}{% endif %}"
/>

<meta
  property="og:image"
  content="{{
    meta.url
  }}{% if (category == 'blogpost') or (category == 'note') %}/assets/images/social-preview/{{
    title | slugify
  }}-preview.jpeg

  {% elif featured_image  %}

  {{ featured_image | replace('./src', '') }}

  {% else %}{{ meta.meta_data.opengraph_default }}{% endif %}"
/>

<meta
  property="og:description"
  content="{% if discover.description %}{{ discover.description }}{% elif description %}{{
    description
  }}{% else %}{{ meta[page.lang].siteDescription }}{% endif %}"

/>
<meta property="og:site_name" content="{{ meta[page.lang].siteName }}" />
<meta property="article:author" content="{{ meta.author }}" />

<link rel="alternate"  href="{{ '/feed.xml' | locale_url }}" type="application/atom+xml">

<!-- Favicon -->
<link rel="icon" href="{{ '/favicon.ico' | url }}" sizes="any" />
<link rel="icon" href="{{ '/favicon.svg' | url }}" type="image/svg+xml" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | url }}" />
<link rel="manifest" href="{{ '/site.webmanifest' | url }}" />
<meta name="theme-color" content="#FF7F5C" />
