<ul class="grid mt-l-xl" role="list" data-rows="masonry" data-layout="50-50">
  {% set postslist = collections["blog_" + page.lang][tag] %} {% for post in postslist %}

  <li class="card flow clickable-card overflow-hidden">
    <h2>
      <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    </h2>

    {% set definedDate = post.date %} {% include "partials/date.njk" %}
    <p>{{ post.data.description }}</p>
  </li>
  {% endfor %}
</ul>
