<is-land on:idle
  ><div
    data-scheme-switcher
    role="region"
    class="theme-switch | cluster mt-xs"
    aria-labelledby="theme-switcher-label"
    data-theme-switcher
  >
    <h2 id="theme-switcher-label" class="visually-hidden">{{ meta.themeSwitch.title }}</h2>

    <button class="button" aria-pressed="false" value="light" data-button-small>
      {{ meta.themeSwitch.light }}
    </button>
    <!-- <button class="button" aria-pressed="true" value="light dark" data-button-small>
      {{ meta.themeSwitch.auto }}
    </button> -->
    <button class="button" aria-pressed="false" value="dark" data-button-small>
      {{ meta.themeSwitch.dark }}
    </button>
  </div>
</is-land>
