<aside class="details toc-toggle">
  <details>
    <summary>{{ translations[page.lang].a11y.toc }}</summary>

    {:toc}
  </details>
</aside>

{% css "local" %}
  {% include "css/details.css" %}
{% endcss %}
