<article
  id="webmention-{{ webmention['wm-id'] }}"
  class="webmention {% if webmention|isOwnWebmention %}webmention--own {% else %} webmention--single {% endif %}"
>
  <div class="webmention__meta">
    {% if webmention.author %} {% if webmention.author.photo %}
    <img
      src="{{ webmention.author.photo }}"
      alt="{{ webmention.author.name }}"
      width="48"
      height="48"
      loading="lazy"
    />
    {% else %}
    <img
      src="{{ meta.webmentions.fallbackAvatar | url }}"
      alt=""
      width="48"
      height="48"
    />
    {% endif %}
    <span>
      <strong class="p-name">{{ webmention.author.name }}</strong>
    </span>
    {% else %}
    <span>
      <strong>Anonymous</strong>
    </span>
    {% endif %} {% if webmention.wm-received %}
    <!-- date -->
    {% set definedDate = webmention.wm-received %} {% include "partials/date-time.njk" %}
    {% endif %}
  </div>
  <p class="webmention-text">
    {{ webmention.content.text | truncate }}
    {% if webmention.url %}
    <a href="{{ webmention.url }}" target="_blank" rel="noopener noreferrer"> source </a>
    {% endif %}
  </p>
</article>
