<section
  class="wrapper flow content region | blog webmentions"
  style="--region-space-top: var(--space-xl)"
>
  <h2 id="webmentions">Webmentions</h2>
  <!-- Filter the cached mentions to only include ones matching the post's url -->
  {% set allMentions = webmentions | getWebmentionsForUrl(webmentionUrl) %}
  <!-- Set reposts as mentions that are `repost-of`  -->
  {% set reposts = allMentions | webmentionsByType('repost-of') %}
  <!-- Count the total reposts -->
  {% set repostsSize = reposts | webmentionSize %}
  <!-- Set likes as mentions that are `like-of`  -->
  {% set likes = allMentions | webmentionsByType('like-of') %}
  <!-- Count the total likes -->
  {% set likesSize = likes | webmentionSize %}
  <!-- Set replies as mentions that are `in-reply-to`  -->
  {% set replies = allMentions | webmentionsByType('in-reply-to') | sortWebmentions %}
  <!-- Count the total replies -->
  {% set repliesSize = replies | webmentionSize %}
  <!-- Set replies as mentions that are `in-reply-to`  -->
  {% set mentions = allMentions | webmentionsByType('mention-of') | sortWebmentions %}
  <!-- Count the total replies -->
  {% set mentionsSize = mentions | webmentionSize %}

  <!-- Set replies as mentions that are `in-reply-to`  -->
  {% set combinedMentions = allMentions | sortWebmentions %}
  <!-- Count the total replies -->
  {% set combinedMentionsSize = combinedMentions | webmentionSize %}

  <!-- if reactions -->
  {% if combinedMentionsSize > 0 %}

  <div class="flow">
    <h3>
      {{ combinedMentionsSize }} Reaction{% if combinedMentionsSize != 1 %}s{% endif %}
      <span>(Likes, reposts, links and comments)</span>
    </h3>

    <p>
      {% for webmention in allMentions %} {% if webmention.author.name != "Lene Saile" %}
      {% if webmention.url != "" %}
      <a
        class="h-card u-url link-u-exempt"
        href="{{ webmention.url }}"
        target="_blank"
        rel="noopener noreferrer"
      >
        {% endif %} {% if webmention.author.photo %}
        <img
          src="{{ webmention.author.photo }}"
          alt="{{ webmention.author.name }}"
          width="48"
          height="48"
          loading="lazy"
        />
        {% else %}
        <img
          src="{{ meta.webmentions.fallbackAvatar | url }}"
          alt=""
          width="48"
          height="48"
        />
        {% endif %} {% if webmention.url != "" %}
      </a>
      {% endif %} {% endif %} {% endfor %}
    </p>
  </div>
  {% endif %}

  <!-- replies -->
  {% if repliesSize > 0 %}

  <div class="webmention-replies flow">
    <h3>{% if repliesSize == "1" %}Comment{% else %}Comments{% endif %}</h3>

    {% for webmention in replies %} {% include "partials/webmention.njk" %} {% endfor %}
  </div>
  {% endif %}

  <section class="region flow">
    <p>
      {{ meta[page.lang].webmentions.formTitle }}
    </p>

    <form
      action="https://webmention.io/www.lenesaile.com/webmention"
      method="post"
      class="form-webmention"
    >
      <label for="form-webmention-source">URL</label>
      <div
        class="sidebar"
        style="
          --sidebar-gap: var(--space-xs);
          --sidebar-target-width: 60%;
          --sidebar-content-min-width: 220px;
        "
      >
        <input
          id="form-webmention-source"
          type="url"
          name="source"
          placeholder="https://example.com"
          required
        />
        <input
          type="hidden"
          name="target"
          value="https://www.lenesaile.com{{ page.url }}"
        />
        <input
          type="submit"
          class="button"
          value="{{ meta[page.lang].webmentions.buttonValue }}"
        />
      </div>
    </form>
  </section>
</section>
